/*Средние девайсы и больше («таблетки», >= 768px)*/
@media (min-width: 768px) {
  .header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #c4c7d3;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  .background {
    background: url(../images/bg1.png) center no-repeat;
    background-size: cover;
    height: 100%;
  }

  .car {
    background: url(../images/car.png) bottom no-repeat;
    background-size: 220%;
    height: 100%;
  }

  .nav {
    flex-wrap: nowrap;
    padding-top: 30px;
    height: 66px;
    border-bottom: 1px solid rgba(164, 169, 188, 0.12);
  }

  .logo {
    font-size: 14px;
  }

  .nav .info {
    margin: 0 11px 0 13px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(164, 169, 188, 0.12);
    border-right: 1px solid rgba(164, 169, 188, 0.12);
  }

  .nav .info .item1 {
    width: 200px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .nav .info .item2 {
    width: 155px;
    display: flex;
    align-items: center;
  }

  .info .clock {
    display: flex;
    align-items: center;
    margin: 0 11px 0 auto;
  }

  .info img {
    margin: 10px;
    height: 42px;
  }

  .info .clock img {
    height: auto;
  }

  .nav .tel {
    width: auto;
    padding-top: 0;
  }

  .nav .tel r {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .nav .tel small {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-decoration: underline;
    text-align: left;
  }

  .nav .tel text {
    display: none;
  }

  .mobile {
    display: none;
  }

  .nav-bottom {
    display: flex;
    width: 185px;
    margin: 19px 0 0 auto;
    align-items: center;
  }

  .nav-bottom img {
    margin: 0 0 0 7px;
  }

  .home {
    margin-top: 15px;
    width: 636px;
    align-items: flex-start;
  }

  h1 {
    font-size: 56px;
    line-height: 64px;
  }

  .home .info {
    margin: 0;
    display: flex;
    flex-direction: row;
    order: 1;
  }

  .home .info .item {
    margin-right: 60px;
  }

  .home .info .item img {
    margin: 0 15px 0 0;
  }

  .home .telme {
    font-size: 19px;
    margin: 40px 0 15px 0;
    width: 340px;
    order: 2;
  }

  .home .button {
    order: 3;
    height: 242px;
    width: 275px;
  }

  .home .button:hover {
    height: 242px;
    width: 275px;
  }
}

/*Только Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) and (max-width: 991.98px) {}
