/* Экстрамалые девайсы и больше*/
html, body {
  font-size: 16px;
}

.m {
  display: block;
}

.l {
  display: none;
}

.header {
  background: url(../images/bg.jpg) bottom no-repeat;
  background-size: 1218px;
  color: #c4c7d3;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

 .info {
  display: none;
}

.nav {
  padding-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-family: Raleway;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  margin: 0 -5px;
  display: flex;
  align-items: center;
}

.nav .tel a {
  color: #f5124a;
}

.nav .tel {
  width: 100%;
  padding-top: 12px;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
}

.nav .tel r {
  font-size: 20px;
  font-weight: 800;
}

.nav .tel small {
  display: none;
}

.nav .tel text {
  text-transform: none;
  font-size: 16px;
}

.nav-bottom {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 100%;
  align-items: center;
  color: #fff9f9;
}

.home .headline {
  width: auto;
  align-self: flex-start;
}

h1 {
  color: #f5f5f5;
  font-family: Raleway;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.telme  {
  margin: 28px 0 15px 0;
  width: 145px;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
  order: 1;
}

.home .info {
  margin: 32px 0 40px -10px;
  display: flex;
  flex-direction: column;
  order: 3;
}

.home .info .item {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 19px;
}

.home .info .item img {
  margin: 0 27px 0 0;
}

.home .button {
  background: url(../images/btn.png) no-repeat;
  background-size: cover;
  height: 205px;
  width: 229px;
  order: 2;
}

.home .button:hover {
  background: url(../images/btn_hover.png) no-repeat;
  background-size: cover;
  height: 205px;
  width: 229px;
}



/* Только Экстрамалые девайсы («портретные телефоны», < 576px)*/
@media (max-width: 575.98px) {

}
