/* Экстрамалые девайсы и больше*/
.know {
  padding-bottom: 67px;
}

.know .headline {
  margin: 15px 0 20px 0;
}

.know .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.know .info__item--1, .know .info__item--2, .know .info__item--3, .know .info__item--4 {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.know .item__text--1 {
  width: 100%;
}

.know .item__text--2, .know .item__text--3, .know .item__text--4 {
  width: 100%;
  display: none;
}

.know .item__text--border {
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  border: 1px solid #f5124a;
  color: #383838;
  font-size: 16px;
  line-height: 21px;
  padding: 18px 18px 30px 18px;
}

.know .item__text--border br {
  display: none;
}

.know .button {
  background-color: #f5124a;
  border-style: none;
  border-radius: 25px 25px 25px 25px;
}

.know .button m {
  display: none;
  align-items: center;
  justify-content: center;
  font-family: Raleway;
  height: 46px;
  width: 46px;
  color: #ffffff;
  letter-spacing: 0.34px;
  font-size: 17px;
}

.know .button l {
  display: none;
}

.know .button--bg {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 0;
  height: 67px;
  width: 67px;
  border-style: none;
  border-radius: 35px 35px 35px 35px;
  background-color: rgba(245, 18, 74, 0);
}

button:active, button:focus {
  outline: none;
}

.know .button--bg:hover, .button--bg:focus {
  background-color: rgba(245, 18, 74, 0.23);
}


/* Только Экстрамалые девайсы («портретные телефоны», < 576px)*/
@media (max-width: 575.98px) {

}
