html, body {
  font-family: FuturaPT;
}

div {
  border: 1px solid #000000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 24px;
}

r {
  color: #f5124a;
}

@media (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}


.about {
  padding-bottom: 100px;
}
