html, body {
  font-family: FuturaPT;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 24px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f5124a;
}

r {
  color: #f5124a;
}

.flex {
  display: flex;
}

@media (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
